/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
	@apply rounded border-2 border-transparent py-2 px-6 shadow-sm cursor-pointer text-xs hover:bg-indigo-200 hover:text-black focus:border-gray-900;
}

